@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: "Passion One", sans-serif;
    --font03: "Sriracha", cursive;
}

body {
    background-color: yellow;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font01);
    background-color: darkgray;
    height: 100vh;
}


header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 4em;
    font-family: var(--font02);
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
    font-family: var(--font01);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-size: 3.5vh;
font-family: var(--font03);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.393);
    padding: 5px;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(96, 96, 96);
    color: white;

    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}